node_modules
dist

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

# Docker
*.zip
bootstrap-app*.zip

# AWS
.aws/

# Logs
*.log
logs/

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db